

input.custom-input,
select.custom-select {
  padding: 8px;
  border-radius: 4px;
  min-width: 120px;
  width: 100%;
  max-width: 280px;
  background-color: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--input-border);
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

input.custom-input::placeholder {
  color: var(--input-placeholder);
}

select.custom-select option {
  background-color: var(--input-bg);
  color: var(--input-text);
}
